extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav-active' : ''}`)
    a(href=`${link}`)
      svg
        use(href=`img/icons.svg#icon-${icon}`)
      | #{text}

block contents
  section#section.section
    .user-view
      nav.user-view-menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings', true)
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('#', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav-heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('#', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

      .user-view-content
        .user-view-form-container
          h2.heading-secondary.ma-bt-md Your account settings

          //- WITHOUT API
          //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')

          //- WITH API

          form.form.form-user-data
            .form-group
              label.form-label(for="name") Name
              input#name.form-input(type="text", value=`${user.name}`, required, name="name")
            .form-group.ma-bt-md
              label.form-label(for="email") Email address
              input#email.form-input(type="email", value=`${user.email}`, required, name="email")
            .form-group.form-photo-upload
              img.form-user-photo(src=`img/users/${user.photo}`, alt="user photo")
              input#photo.form-upload(type="file", accept="image/*", name="photo")
              label(for="photo") Choose new photo

            .form-group.right
              button.btn.btn-small.btn-green Save settings

        .line &nbsp;

        .user-view-form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form-group
              label.form-label(for="password-current") Current password
              input#password-current.form-input(
                type="password",
                placeholder="••••••••",
                required,
                minlength="5"
              )
            .form-group
              label.form-label(for="password") New password
              input#password.form-input(
                type="password",
                placeholder="••••••••",
                required,
                minlength="5"
              )
            .form-group.ma-bt-lg
              label.form-label(for="password-confirm") Confirm password
              input#password-confirm.form-input(
                type="password",
                placeholder="••••••••",
                required,
                minlength="5"
              )
            .form-group.right
              button.btn.btn-small.btn-green.btn-save-password Save password
